$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #1e1a17,
	),
	text: (
		body: #4f453d,
		body-2: #978b7e,
		body-3: #75695f,
		body-4: #2a241f,
		body-5: #ffffffcc,
	),
	theme: (
		primary: #b79a6b,
		bg: #f5f2ee,
		bg-2: #d8cec2,
		bg-3: #1e1a17,
		dark: #111111,
		dark-2: #1e1a17,
		dark-3: #4f453d,
		dark-4: #75695f,
		dark-5: #9e9184,
	),
	red: (
		1: #ff0000,
	),
	grey: (
		1: #faf7f2,
		2: #c6bbaf,
		3: #ffffff1a,
	),
	border: (
		1: #d9d1c7,
		2: #3a312a,
		3: #ffffff26,
		4: #ffffff33,
		5: #b79a6b26,
	),
);
